<template>
    <div :id="'select-column-div-row-index-' + this.index">
        <label>Column</label>
        <treeselect
                name="selected"
                :multiple="false"
                :clearable="true"
                :searchable="true"
                :disabled="false"
                :open-on-click="true"
                :open-on-focus="false"
                :clear-on-select="false"
                :close-on-select="true"
                :always-open="false"
                :append-to-body="false"
                :options="columns"
                :load-options="loadOptions"
                :auto-load-root-options="false"
                :limit="1"
                v-model="selected"
                @input="emitChange"
        />
    </div>
</template>

<script>

    import { LOAD_ROOT_OPTIONS } from '@riophae/vue-treeselect';

    export default {
        name: "select-column",
        data: function () {
            return {
                columns: null,
                selected: null,
            }
        },
        props: {
            index: Number,
        },
        methods: {
            loadOptions({ action, parentNode, callback }) {

                if (action === LOAD_ROOT_OPTIONS) {

                    let payload = {
                        index: this.index,
                    };
                    let row = this.$store.getters['Schema/Create/Selects/getRow'](payload);
                    let rawColumns = this.$store.getters['Schema/Create/getColumnsByTables'][row.table];

                    this.columns = this.$Helpers.treeselectFormat(rawColumns);

                    callback();
                }
            },
            emitChange() {
                let payload = {
                    index: this.$parent.index,
                    column: null,
                };
                if (this.selected !== undefined)
                {
                    const index = this.selected.split('child_')[1];
                    payload.column = this.columns[index].label;
                }
                this.$store.dispatch('Schema/Create/Selects/changeColumn', payload);
                // this.$store.dispatch('Schema/Create/Selects/changeColumn', payload).then(() => {
                //     payload = {
                //         show: (this.$store.getters['Schema/Create/Selects/getValidRowsNumber'] >= 1),
                    // };
                    // this.$store.dispatch('Schema/Create/Joins/displaySection', payload);
                // });
            }
        }
    }
</script>

<style scoped>

</style>
