<template>
    <div :id="'select-function-div-row-index-' + this.index">
        <label>Function</label>
        <treeselect
                :multiple="false"
                :clearable="true"
                :searchable="true"
                :disabled="false"
                :open-on-click="true"
                :open-on-focus="false"
                :clear-on-select="false"
                :close-on-select="true"
                :always-open="false"
                :append-to-body="false"
                :options="functions"
                :limit="1"
                :disable-branch-nodes="true"
                v-model="selected"
                @input="emitChange"
        />
    </div>
</template>

<script>
    import queryConstants from '@/constants/queryBuilder.js';

    export default {
        name: "select-function",
        data: function () {
            return {
                functions: this.$Helpers.treeselectFormat(queryConstants.select, true),
                selected: null,
            }
        },
        props: {
            index: Number,
        },
        methods: {
            emitChange() {
                let payload = {
                    index: this.$parent.index,
                    func: null,
                };
                //check for empty option
                if (this.selected !== undefined)
                {
                    let parentIndex = this.selected.split('parent_')[1];
                    let temp = parentIndex.split('_child_');
                    parentIndex = temp[0];
                    let childIndex = temp[1];
                    payload.func = this.functions[parentIndex].children[childIndex].label;
                }
                this.$store.dispatch('Schema/Create/Selects/changeFunction', payload);
            }
        }
    }
</script>

<style scoped>

</style>
