<template>
    <div :id="'select-table-div-row-index-' + this.index">
        <label>Table</label>
        <treeselect
                :multiple="false"
                :clearable="true"
                :searchable="true"
                :disabled="false"
                :open-on-click="true"
                :open-on-focus="false"
                :clear-on-select="false"
                :close-on-select="true"
                :always-open="false"
                :append-to-body="false"
                :options="tables"
                :limit="1"
                v-model="selected"
                @input="emitChange"
        />
    </div>
</template>

<script>
    export default {
        name: "select-table",
        data () {
            return {
                tables: this.$Helpers.treeselectFormat(this.$store.getters['Schema/Create/getTables']),
                selected: null,
            }
        },
        props: {
            index: Number,
        },
        methods: {
            emitChange() {
                let payload = {
                    index: this.$parent.index,
                    table: null,
                    possibleColumns: null,
                    previousTable: this.$store.getters
                };

                let previousSelection = this.$store.getters['Schema/Create/Selects/getRow'](payload);
                payload.previousTable = previousSelection.table;

                if (this.selected !== undefined)
                {
                    const index = this.selected.split('child_')[1];
                    payload.table = this.tables[index].label;
                    payload.possibleColumns = this.$store.getters['Schema/Create/getColumnsByTables'][this.tables[index].label];
                }

                this.$store.dispatch('Schema/Create/Selects/changeTable', payload).then( () => {
                    this.$store.dispatch('Schema/Create/Selects/triggerRerenderColumnsTreeselect', payload).then( () => {
                        this.$store.dispatch('Schema/Create/Wheres/updateRows').then( () => {
                            this.$store.dispatch('Schema/Create/Wheres/removeRows').then( () => {
                                let wheresRows = this.$store.getters['Schema/Create/Wheres/getRows'];

                                if (wheresRows.length === 0)
                                {
                                    this.$store.dispatch('Schema/Create/Wheres/addEmptyRow').then( () => {
                                        this.$store.dispatch('Schema/Create/Wheres/triggerRerenderTablesTreeselects', payload).then( () => {
                                            this.$store.dispatch('Schema/Create/Selects/removeExtraEmptyRows').then( () => {
                                                const newRowNeeded = this.$store.getters['Schema/Create/Selects/checkIfNewRowIsNeeded'];

                                                if (newRowNeeded === true)
                                                {
                                                    this.$store.dispatch('Schema/Create/Selects/addEmptyRow');
                                                }
                                            });
                                        });
                                    });
                                }
                                else
                                {
                                    this.$store.dispatch('Schema/Create/Wheres/triggerRerenderTablesTreeselects', payload).then( () => {
                                        this.$store.dispatch('Schema/Create/Selects/removeExtraEmptyRows').then( () => {
                                            const newRowNeeded = this.$store.getters['Schema/Create/Selects/checkIfNewRowIsNeeded'];

                                            if (newRowNeeded === true)
                                            {
                                                this.$store.dispatch('Schema/Create/Selects/addEmptyRow');
                                            }
                                        });
                                    });
                                }
                            });
                        });
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
