<template>
    <div :id="'selects-row-index-' + this.index" class="padding-bottom">
        <b-container fluid>
            <b-row>
                <b-col sm="5" md="5" lg="5">
                    <SelectTable :index="this.index" ref="selectTable" :key="'select_table_row_index_' + this.index"/>
                </b-col>
                <b-col sm="2" md="2" lg="2">
                    <SelectFunction :index="this.index" ref="selectFunction"/>
                </b-col>
                <b-col sm="5" md="5" lg="5">
                    <SelectColumn :index="this.index" ref="selectColumn" :key="'select_column_row_index_' + this.index + '_rerender_tables_treeselect_' + rerenderColumnsTreeselect"/>
                </b-col>
<!--                <b-col sm="2" md="2" lg="2">-->
<!--                    <label>Actions</label>-->
<!--                    <b-button block variant="success" v-if="this.index === 0" @click="addEmptyRow">-->
<!--                        <i class="fa fa-plus"></i>-->
<!--                        Add-->
<!--                    </b-button>-->
<!--                    <b-button block variant="danger" v-if="this.index !== 0" @click="removeRow">-->
<!--                        <i class="fa fa-times"></i>-->
<!--                        Remove-->
<!--                    </b-button>-->
<!--                </b-col>-->
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import SelectTable from './SelectTable.vue';
    import SelectFunction from './SelectFunction.vue';
    import SelectColumn from './SelectColumn.vue';

    import { mapState } from 'vuex';

    export default {
        name: "select-row",
        components: {
            SelectTable,
            SelectFunction,
            SelectColumn
        },
        computed: mapState ({
            rerenderColumnsTreeselect (state) {
                let currentRowIndex = this.index;
                let currentRowInRows = state['Schema/Create']['Selects'].rows.find(function (row, index) {
                    return (row.index === currentRowIndex);
                });
                return currentRowInRows.rerenderColumnsTreeselect;
            }
        })
        ,
        props: {
            index: Number,
        },
        methods: {
            addEmptyRow()
            {
                this.$store.dispatch('Schema/Create/Selects/addEmptyRow');
            },
            // removeRow()
            // {
            //     const payload = {
            //         index: this.index
            //     };
            //     this.$store.dispatch('Schema/Create/Selects/removeRow', payload)/*.then( () => {
            //         this.$store.dispatch('Schema/Create/Froms/update');
            //     });*/
            // }
        }
    }
</script>

<style>
    .padding-bottom {
        padding-bottom: 10px;
    }
</style>
