<template>
    <div id="joins-row" class="padding-bottom">
        <b-container fluid>
            <b-row>
                <!--<b-col sm="0" md="0" lg="0">-->
                    <!--<br>-->
                    <!--<b-badge :variant="this.variant">{{this.type}}</b-badge>-->
                <!--</b-col>-->

                <b-col sm="1" md="1" lg="1">
                    <JoinType/>
                </b-col>
                <b-col sm="2" md="2" lg="2">
                    <JoinTable type="target" :index="this.index"/>
                </b-col>

                <br>
                ON

                <b-col sm="2" md="2" lg="2">
                    <JoinTable type="from" :index="this.index"/>
                </b-col>
                <b-col sm="2" md="2" lg="2">
                    <JoinColumn type="from" :index="this.index" :key="'join_column_from_row_index_' + this.index + '_rerender_columns_treeselect_' + rerenderFromColumnsTreeselect"/>
                </b-col>

                <br>
                =

                <b-col sm="2" md="2" lg="2">
                    <JoinTable type="to" :index="this.index"/>
                </b-col>
                <b-col sm="2" md="2" lg="2">
                    <JoinColumn type="to" :index="this.index" :key="'join_column_to_row_index_' + this.index + '_rerender_columns_treeselect_' + rerenderToColumnsTreeselect"/>
                </b-col>

<!--                <b-col sm="1" md="1" lg="1" class="max-width-sm">-->
<!--                    <label>Actions</label>-->
<!--                    <b-button block variant="success" v-if="this.index === 0" @click="addEmptyRow">-->
<!--                        <i class="fa fa-plus"></i>-->
<!--                        Add-->
<!--                    </b-button>-->
<!--                    <b-button block variant="danger" v-if="this.index !== 0" @click="removeRow">-->
<!--                        <i class="fa fa-times"></i>-->
<!--                        Remove-->
<!--                    </b-button>-->
<!--                </b-col>-->
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import JoinTable from './JoinTable';
    import JoinType from './JoinType';
    import JoinColumn from './JoinColumn';
    import { mapState } from 'vuex';

    export default {
        name: "join-row",
        components: {
            JoinTable,
            JoinType,
            JoinColumn
        },
        props: {
            index: Number,
            type: String,
        },
        computed: mapState ({
            rerenderFromColumnsTreeselect (state)
            {
                let currentRowIndex = this.index;
                let currentRowInRows = state['Schema/Create']['Joins'].rows.find(function (row, index) {
                    return (row.index === currentRowIndex);
                });
                return currentRowInRows.rerenderFromColumnsTreeselect;
            },
            rerenderToColumnsTreeselect (state)
            {
                let currentRowIndex = this.index;
                let currentRowInRows = state['Schema/Create']['Joins'].rows.find(function (row, index) {
                    return (row.index === currentRowIndex);
                });
                return currentRowInRows.rerenderToColumnsTreeselect;
            },
            variant() {
                return ((this.type === 'from') ? 'secondary' : 'info');
            }
        }),
        methods: {
            addEmptyRow()
            {
                this.$store.dispatch('Schema/Create/Joins/addEmptyRow');
            },
            removeRow()
            {
                const payload = {
                    index: this.index
                };
                this.$store.dispatch('Schema/Create/Joins/removeRow', payload);
            }
        }
    }
</script>

<style scoped>
    br {
        line-height: 35px;
    }
    .col-sm-1 {
        max-width: 7%!important;
    }
    .col-md-1 {
        max-width: 7%!important;
    }
    .col-lg-1 {
        max-width: 7%!important;
    }
</style>
