<template>
    <div id="join-table-div">
        <label>Table</label>
        <treeselect
                :multiple="false"
                :clearable="true"
                :searchable="true"
                :disabled="false"
                :open-on-click="true"
                :open-on-focus="false"
                :clear-on-select="false"
                :close-on-select="true"
                :always-open="false"
                :append-to-body="false"
                :options="tables"
                :limit="1"
                v-model="selected"
                @input="emitChange"
        />
    </div>
</template>

<script>
    export default {
        name: "join-table",
        data () {
            return {
                tables: this.$Helpers.treeselectFormat(this.$store.getters['Schema/Create/getTables']),
                selected: null,
            }
        },
        props: {
            type: String,
            index: Number,
        },
        methods: {
            emitChange()
            {
                let payload = {
                    index: this.$parent.index,
                    table: null,
                    possibleColumns: null,
                    type: this.type,
                };

                if (this.selected !== undefined)
                {
                    const index = this.selected.split('child_')[1];
                    payload.table = this.tables[index].label;
                    payload.possibleColumns = this.$store.getters['Schema/Create/getColumnsByTables'][this.tables[index].label];
                }

                this.$store.dispatch('Schema/Create/Joins/changeTable', payload).then( () => {
                    // this.$store.dispatch('Schema/Create/Froms/update').then ( () => {

                    if (this.type.toLowerCase() !== 'target')
                    {
                        const capitalLetterType = this.$Helpers.firstLetterCapital(this.type);
                        const event = 'Schema/Create/Joins/triggerRerender' + capitalLetterType + 'ColumnsTreeselect';
                        // this.$store.dispatch('Schema/Create/Joins/triggerRerenderColumnsTreeselect', payload);
                        this.$store.dispatch(event, payload);
                    }
                    else
                    {
                        const newRowNeeded = this.$store.getters['Schema/Create/Joins/checkIfNewRowIsNeeded'];

                        if (newRowNeeded === true)
                        {
                            this.$store.dispatch('Schema/Create/Joins/addEmptyRow').then( () => {
                                this.$store.dispatch('Schema/Create/Joins/removeExtraEmptyRows');
                            });
                        }
                        else
                        {
                            this.$store.dispatch('Schema/Create/Joins/removeExtraEmptyRows');
                        }
                    }


                    // });
                });
            }
        }
    }
</script>

<style scoped>

</style>
