<template>
    <div id="join-type-div">
        <label>Join Type</label>
        <treeselect
                :multiple="false"
                :clearable="true"
                :searchable="true"
                :disabled="false"
                :open-on-click="true"
                :open-on-focus="false"
                :clear-on-select="false"
                :close-on-select="true"
                :always-open="false"
                :append-to-body="false"
                :options="joins"
                :limit="1"
                :disable-branch-nodes="true"
                v-model="selected"
        />
    </div>
</template>

<script>
    import queryConstants from '@/constants/queryBuilder.js';

    export default {
        name: "join-type",
        data: function () {
            return {
                joins: this.$Helpers.treeselectFormat(queryConstants.join),
                selected: null,
            }
        },
    }
</script>

<style scoped>

</style>