<template>
    <div id="joins-section">
        <b-container fluid>
            <b-row>
                <b-col sm="12" md="12" lg="12">
                    <transition name="fade">
                        <b-card class="card-accent-primary" no-body v-if="show">
                            <div slot="header">
                                <h4>Joins</h4>
                                <div class="card-header-actions">
                                    <b-link class="card-header-action btn-minimize" v-b-toggle.joins-section-body>
                                        <i class="icon-arrow-up"></i>
                                    </b-link>
                                </div>
                            </div>
                            <b-collapse id="joins-section-body" visible>
                                <b-card-body>
                                    <JoinRow v-for="row in rows" :key="row.index" :ref="'join-row-' + row.index" :index="row.index" :type="row.type"/>
                                </b-card-body>
                            </b-collapse>
                        </b-card>
                    </transition>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import JoinRow from './JoinRow.vue';
    import { mapGetters, mapMutations } from 'vuex';

    export default {
        name: "joins-section",
        components: {
            JoinRow,
        },
        data () {
            return {
                show: true
            }
        },
        computed: {
            ...mapGetters('Schema/Create/Joins', {
                rows: 'getRows'
            }),
        },
        mounted() {
            if (this.rows.length === 0)
            {
                this.$store.dispatch('Schema/Create/Joins/addEmptyRow');
            }
        },
        methods: {
        }
    }
</script>

<style scoped>
    h4 {
        display: inline;
    }
</style>