<template>
    <div :id="'where-table-div-row-index-' + this.index">
        <label>Table</label>
        <treeselect
                :multiple="false"
                :clearable="true"
                :searchable="true"
                :disabled="false"
                :open-on-click="true"
                :open-on-focus="false"
                :clear-on-select="false"
                :close-on-select="true"
                :always-open="false"
                :append-to-body="false"
                :options="tables"
                :limit="1"
                v-model="selected"
                @input="emitChange"
        />
    </div>
</template>

<script>

    import {LOAD_ROOT_OPTIONS} from '@riophae/vue-treeselect';

    export default {
        name: "where-table",
        data () {
            let possibleTables = this.$store.getters['Schema/Create/Wheres/getPossibleTables'];
            let formattedTables = this.$Helpers.treeselectFormat(possibleTables);

            let temporarySelected = null;

            let payload = {
                index: this.$parent.index,
            };
            let row = this.$store.getters['Schema/Create/Wheres/getRow'](payload);

            if (row.table !== null)
            {
                const formattedTable = formattedTables.find(function (entryTable) {
                    return entryTable.label === row.table;
                });

                temporarySelected = formattedTable.id;
            }

            return {
                tables: formattedTables,
                selected: temporarySelected,
            }
        },
        props: {
            index: Number,
        },
        methods: {
            // loadOptions({ action, parentNode, callback }) {
            //
            //     if (action === LOAD_ROOT_OPTIONS) {
            //
            //         // let possibleTables = this.$store.getters['Schema/Create/Wheres/getPossibleTables'];
            //         //
            //         // this.tables = this.$Helpers.treeselectFormat(possibleTables);
            //         //
            //         // let payload = {
            //         //     index: this.$parent.index,
            //         // };
            //         // let row = this.$store.getters['Schema/Create/Wheres/getRow'](payload);
            //         //
            //         // if (row.table !== null)
            //         // {
            //         //     const formattedTable = this.tables.find(function (entryTable) {
            //         //         return entryTable.label === row.table;
            //         //     });
            //         //
            //         //     this.selected = formattedTable.id;
            //         //
            //         //     console.log(this.selected);
            //         // }
            //
            //         callback();
            //     }
            // },
            emitChange() {
                let payload = {
                    index: this.$parent.index,
                    table: null,
                    possibleColumns: null,
                };

                if (this.selected !== undefined)
                {
                    const index = this.selected.split('child_')[1];
                    payload.table = this.tables[index].label;
                    payload.possibleColumns = this.$store.getters['Schema/Create/getColumnsByTables'][this.tables[index].label];
                }

                this.$store.dispatch('Schema/Create/Wheres/changeTable', payload).then( () => {
                    this.$store.dispatch('Schema/Create/Wheres/triggerRerenderColumnsTreeselect', payload).then( () => {
                        this.$store.dispatch('Schema/Create/Wheres/removeExtraEmptyRows').then( () => {
                            const newRowNeeded = this.$store.getters['Schema/Create/Wheres/checkIfNewRowIsNeeded'];

                            if (newRowNeeded === true)
                            {
                                this.$store.dispatch('Schema/Create/Wheres/addEmptyRow');
                            }
                        });
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
