<template>
    <div id="wheres-section">
        <b-container fluid>
            <b-row>
                <b-col sm="12" md="12" lg="12">
                    <transition name="fade">
                        <b-card class="card-accent-primary" no-body v-if="show">
                            <div slot="header">
                                <h4>Conditions</h4>
                                <div class="card-header-actions">
                                    <b-link class="card-header-action btn-minimize" v-b-toggle.wheres-section-body>
                                        <i class="icon-arrow-up"></i>
                                    </b-link>
                                </div>
                            </div>
                            <b-collapse id="wheres-section-body" visible>
                                <b-card-body>
                                    <WhereRow v-for="row in rows" :key="row.index" :ref="'where-row-' + row.index" :index="row.index"/>
                                </b-card-body>
                            </b-collapse>
                        </b-card>
                    </transition>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import WhereRow from './WhereRow'
    import { mapGetters } from 'vuex'

    export default {
        name: "wheres-section",
        components: {
            WhereRow
        },
        data () {
            return {
                show: true
            }
        },
        computed: {
            ...mapGetters('Schema/Create/Wheres', {
                rows: 'getRows'
            }),
        },
        mounted() {
            if (this.rows.length === 0)
            {
                this.$store.dispatch('Schema/Create/Wheres/addEmptyRow');
            }
        },
    }
</script>

<style scoped>

</style>