<template>
    <div :id="'wheres-row-index-' + this.index" class="padding-bottom">
        <b-container fluid>
            <b-row>
                <b-col sm="2" md="2" lg="2">
                    <WhereTable :index="this.index" ref="whereTable" :key="'where_table_row_index_' + this.index + '_rerender_tables_treeselect_' + rerenderTablesTreeselect"/>
                </b-col>
                <b-col sm="2" md="2" lg="2">
                    <WhereColumn :index="this.index" ref="whereColumn" :key="'where_column_row_index_' + this.index + '_rerender_columns_treeselect_' + rerenderColumnsTreeselect"/>
                </b-col>
                <b-col sm="2" md="2" lg="2">
                    <WhereOperation :index="this.index" ref="whereFunction" :key="'where_function_row_index_' + this.index"/>
                </b-col>
                <div v-if="SQLToggled" class="col-sm-5 col-md-5 col-lg-5">
                    <b-row>
                        <b-col sm="5" md="5" lg="5">
                            <WhereTableOperation :index="this.index" ref="whereTableOperation" :key="'where_table_operation_row_index_' + this.index + '_rerender_tables_treeselect_' + rerenderTablesTreeselect"/>
                        </b-col>
                        <b-col sm="5" md="5" lg="5">
                            <WhereColumnOperation :index="this.index" ref="whereColumnOperation" :key="'where_column_operation_row_index_' + this.index + '_rerender_columns_treeselect_' + rerenderColumnsOperationTreeselect"/>
                        </b-col>
                        <b-col sm="2" md="2" lg="2"/>
                    </b-row>
                </div>
                <div v-else class="col-sm-5 col-md-5 col-lg-5">
                    <b-row>
                        <b-col sm="12" md="12" lg="12">
                            <WhereValueOperation :index="this.index" ref="whereValueOperation" :key="'where_value_operation_row_index_' + this.index"/>
                        </b-col>
                    </b-row>
                </div>
                <b-col sm="1" md="1" lg="1" class="no-padding-right text-center">
                    <div id="where-sql-toggle">
                        <label>SQL</label>
                        <br>
                        <b-button :variant="SQLToggled ? 'outline-success' : 'outline-danger'" :pressed.sync="SQLToggled">{{SQLToggled ? 'On' : 'Off'}}</b-button>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>

    import WhereTable from './WhereTable';
    import WhereColumn from './WhereColumn';
    import WhereOperation from './WhereOperation';
    import WhereTableOperation from './WhereTableOperation';
    import WhereColumnOperation from './WhereColumnOperation';
    import WhereValueOperation from './WhereValueOperation';
    import { mapState } from 'vuex';

    export default {
        name: "where-row",
        data () {
            let payload = {
                index: this.index,
            };

            return {
                SQLToggled: this.$store.getters['Schema/Create/Wheres/getRow'](payload).SQLToggled,
            }
        },
        components: {
            WhereTable,
            WhereColumn,
            WhereOperation,
            WhereTableOperation,
            WhereColumnOperation,
            WhereValueOperation
        },
        computed: mapState ({
            rerenderTablesTreeselect (state) {
                let currentRowIndex = this.index;
                let currentRowInRows = state['Schema/Create']['Wheres'].rows.find(function (row, index) {
                    return (row.index === currentRowIndex);
                });
                return currentRowInRows.rerenderTablesTreeselect;
            },
            rerenderColumnsTreeselect (state) {
                let currentRowIndex = this.index;
                let currentRowInRows = state['Schema/Create']['Wheres'].rows.find(function (row, index) {
                    return (row.index === currentRowIndex);
                });
                return currentRowInRows.rerenderColumnsTreeselect;
            },
            rerenderColumnsOperationTreeselect (state) {
                let currentRowIndex = this.index;
                let currentRowInRows = state['Schema/Create']['Wheres'].rows.find(function (row, index) {
                    return (row.index === currentRowIndex);
                });
                return currentRowInRows.rerenderColumnsOperationTreeselect;
            }
        })
        ,
        props: {
            index: Number,
        },
        watch: {
            SQLToggled: function (newValue, oldValue) {
                let payload = {
                    index: this.index,
                    SQLToggled: newValue,
                };

                this.$store.dispatch('Schema/Create/Wheres/changeSQLToggled', payload);
            }
        }
    }
</script>

<style scoped>
    #where-sql-toggle {
        float: right;
    }

    .no-padding-right {
        padding-right: 0;
    }

</style>
