<template>
    <div :id="'where-operation-div-row-index-' + this.index">
        <label>Operation</label>
        <treeselect
            :multiple="false"
            :clearable="true"
            :searchable="true"
            :disabled="false"
            :open-on-click="true"
            :open-on-focus="false"
            :clear-on-select="false"
            :close-on-select="true"
            :always-open="false"
            :append-to-body="false"
            :options="operations"
            :limit="1"
            :disable-branch-nodes="true"
            v-model="selected"
            @input="emitChange"
        />
    </div>
</template>

<script>

    import queryConstants from '@/constants/queryBuilder.js';

    export default {
        name: "where-operation",
        data () {
            return {
                operations: this.$Helpers.treeselectFormat(queryConstants.operations),
                selected: null,
            }
        },
        props: {
            index: Number,
        },
        methods: {
            emitChange() {
                let payload = {
                    index: this.$parent.index,
                    operation: null,
                };
                //check for empty option
                if (this.selected !== undefined)
                {
                    const index = this.selected.split('child_')[1];
                    payload.operation = this.operations[index].label;
                }
                this.$store.dispatch('Schema/Create/Wheres/changeOperation', payload);
            }
        }
    }
</script>

<style scoped>

</style>
