<template>
    <div :id="'where-value-operation-div-row-index-' + this.index">
        <label :for="'where_value_operation_input_row_index_' + this.index">Value</label>
        <b-form-input type="text" :id="'where_value_operation_input_row_index_' + this.index" placeholder="Value"></b-form-input>
    </div>
</template>

<script>
    export default {
        name: "where-value-operation",
        props: {
            index: Number,
        }
    }
</script>

<style scoped>
</style>
