<template>
    <div id="froms-section">
        <b-container fluid>
            <b-row>
                <b-col sm="12" md="12" lg="12">
                    <transition name="fade">
                        <b-card class="card-accent-primary" no-body v-if="show">
                            <div slot="header">
                                <h4>Tables that require join relations</h4>
                                <div class="card-header-actions">
                                    <b-link class="card-header-action btn-minimize" v-b-toggle.froms-section-body>
                                        <i class="icon-arrow-up"></i>
                                    </b-link>
                                </div>
                            </div>
                            <b-collapse id="froms-section-body" visible>
                                <b-card-body>
                                    <b-container fluid>
                                        <b-row>
                                            <b-col sm="0" md="0" lg="0" v-for="(table, index) in tables" :key="table">
                                                <b-badge variant="secondary" class="margin-right">{{table}}</b-badge>
                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </b-card-body>
                            </b-collapse>
                        </b-card>
                    </transition>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex';

    export default {
        name: "froms-section",
        data () {
            return {
                show: true
            }
        },
        computed: {
            ...mapGetters('Schema/Create/Froms', {
                displayFromsSection: 'getDisplay',
                tables: 'getTables'
            }),
        }
    }
</script>

<style>
    .margin-right {
        margin-right: 5px;
    }
    h4 {
        display: inline;
    }
</style>