<template>
    <div id="actions-bar">
        <b-container fluid class="floating-actions-bar">
            <b-row>
                <b-col sm="12" md="12" lg="12" xs="12">
                    <b-card class="card-accent-success" header="Actions">
                        <b-button-group class="w-100">
                            <b-button variant="success" >Save</b-button>
                            <b-button variant="info">Preview</b-button>
                        </b-button-group>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    export default {
        name: "actions-bar"
    }
</script>

<style scoped>
    .floating-actions-bar {
        width: 50%;
        position: fixed;
        left: 50%;
        transform: translate(-40%, 0);
        /*margin-left: -25%;*/
        bottom: 0;
        z-index: 10;
    }
</style>