<template>
    <div id="create-schema">
        <b-container fluid>
            <b-row>
                <b-col sm="12" md="12" lg="12">
                    <SelectsSection v-if="displaySelectsSection"/>
                </b-col>
            </b-row>
        </b-container>
        <b-container fluid>
            <b-row>
                <b-col sm="12" md="12" lg="12">
                    <FromsSection v-if="displayFromsSection"/>
                </b-col>
            </b-row>
        </b-container>
        <b-container fluid>
            <b-row>
                <b-col sm="12" md="12" lg="12">
                    <JoinsSection v-if="displaySelectsSection"/>
                </b-col>
            </b-row>
        </b-container>
        <b-container fluid>
            <b-row>
                <b-col sm="12" md="12" lg="12">
                    <WheresSection v-if="displaySelectsSection"/>
                </b-col>
            </b-row>
        </b-container>

        <b-container fluid>
            <b-row>
                <b-col sm="12" md="12" lg="12">
                    <ActionsBar v-if="displaySelectsSection"/>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import SelectsSection from './Selects/SelectsSection';
    import JoinsSection from './Joins/JoinsSection';
    import FromsSection from './Froms/FromsSection';
    import WheresSection from './Wheres/WheresSection';
    import ActionsBar from './ActionsBar';
    import { mapGetters, mapMutations } from 'vuex';
    import store from '@/store/modules/Schema/Create/index';

    export default {
        name: "create",
        components: {
            SelectsSection,
            JoinsSection,
            FromsSection,
            WheresSection,
            ActionsBar
        },
        created() {
            this.$store.registerModule('Schema/Create', store);
        },
        computed: {
            ...mapGetters('Schema/Create/Selects', {
                displaySelectsSection: 'getDisplay',
            }),
            ...mapGetters('Schema/Create/Joins', {
                displayActionsBar: 'getDisplay',
                displayJoinsSection: 'getDisplay',
            }),
            ...mapGetters('Schema/Create/Froms', {
                displayFromsSection: 'getDisplay',
            }),
            ...mapGetters('Schema/Create/Wheres', {
                displayWheresSection: 'getDisplay',
            }),
        },
        mounted() {
            this.$store.dispatch('Schema/Create/getTablesFromDatabase').then( () => {
                this.$store.dispatch('Schema/Create/getTablesByColumnsFromDatabase').then( () => {
                    this.$store.dispatch('Schema/Create/Selects/displaySection');
                });
            });
        }
    }
</script>

<style>
    .container-fluid {
        padding: 0 15px !important;
    }
</style>
